  *{
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;

}   
.navbarhome{
    background: lightskyblue;
    width:100%;
    height:130vh;

}
.container1{
    background: lightskyblue;
}
.navbar{
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.home{
 
    margin-left: 200px;

}
.homecontent{
    margin-top: 200px;
}
.home h1{
    color:blue;
    font-size:40px;
}
.home p{
    margin-top: 40px;
 

}
.home button{
    color:white;
    background: orange;
    border:none;
    border-radius:6px;
    width:180px;
    height:40px;
}
.homeimg img{
    margin-top: 20px;
    /* margin-left: -100px; */
    height:110%;
    /* width:80%; */
   
}
/* homeboxes */
/* homeboxes box1 */
.box1{
    width:370px;
    height:230px;
    background: white;
    position:absolute;
    border-radius:5px;
    margin-left: 86px;
    margin-top: -120px;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    box-shadow:0 8px 32px 0 rgba(31,38,135,.38);

}
.box1 img{
    width:90px;
    height:90px;
    background: transparent;
    margin-top: 40px;
   

}
.box1 h4{
    background: transparent;
    text-align:center;
    margin-top: 20px;
    
}
.box1:hover{
    background:orange;
}
/* homeboxes box2 */
.box2{
    width:370px;
    height:230px;
    background:orange;
    position:relative;
    border-radius:5px;
    margin-left: 50px;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    margin-top: -120px;
    box-shadow:0 8px 32px 0 rgba(31,38,135,.38);

}
.box2 img{
    width:120px;
    height:110px;
    background: transparent;
    margin-top: 20px;
  

}
.box2 h4{
    background: transparent;    
    text-align:center;
    color:white;
    margin-top: 20px;
}
/* homeboxes box3 */
.box3{
    width:370px;
    height:230px;
    background: white;
    position:relative;
    border-radius:5px;
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    margin-top: -120px;
    box-shadow:0 8px 32px 0 rgba(31,38,135,.38);

 
 

}
.box3 img{
    width:150px;
    height:140px;
    align-items:center;
    margin-top: 20px;
    background: transparent;

}
.box3 h4{
 
    text-align:center;
        margin-bottom: 25px;
        background: transparent;
}
.box3:hover{
    background: orange;
}
/* aboutus */
.aboutusparent{

}
.aboutus-content{
    margin-left: 100px;
    margin-top: 220px;
    
}
.aboutus-content h2{
    font-size:35px;
    font-weight:650;
}
.aboutus-content p{
    margin-top: 15px;
}
.aboutus-image img{
    margin-top: 100px;
    margin-left: 18px;
}
/* professional home services  */
.professional-home-services{
    background: skyblue;
    height:120vh;
    width:100%;

    margin: 0% !important;
}
.professional-image img{
    margin-top: 125px;
    margin-left: 200px;
}

.professional-content{
    margin-top: 330px;
    margin-left: -120px;
}
.professional-content h4{
    color:darkblue;
    font-size:33px;
    font-weight:bolder;
}
.professional-content p{
    margin-top: 30px;
}


.container-fluid{
    padding-right: var(--bs-gutter-x,.0rem) !important;
    padding-left: var(--bs-gutter-x,.0rem) !important;
}


.col-7{
    padding: 0 !important;
}
.col-5{
    padding: 0 !important;
}

/* ourservices */
.ourservices{
    margin-top: 100px;
}
.ourservicesh3 h3{
    margin-top: 120px;
    text-align:center;
    font-size:30px;
    font-weight: 700;
}
/* home-maintenance */

.home-maintenance{
    width: 80%;
    height:85%;
    padding: 25px;
    background:white;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.38);
    margin-left: 180px;
    display:flex;
    align-items: center;
    justify-items: center;
    flex-direction:column;
    text-align:center;
    border:1px solid lightgray;
  
}
.home-maintenance:hover{
    background: orange;
}

.home-maintenance img{
    width:60px;
    height:70px;
    background: transparent;
  

}
.home-maintenance h5{
    margin-top: 10px;
}
/* electrical */
.electrical{
    width: 80%;
    height:85%;
    padding: 25px;
    background:white;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.38);
    display:flex;
    align-items: center;
    justify-items: center;
    flex-direction:column;
    text-align:center;
    margin-left: 80px;
    border:1px solid lightgray;
}
.electrical:hover{
    background: orange;
}
.electrical h5{
    margin-top: 10px;
}
.plumbing{
    width: 80%;
    height:85%;
    padding: 10px;
    text-align:center;
    background:white;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.38);
    display:flex;
    align-items: center;
    justify-items: center;
    flex-direction:column;
    margin-left: -15px;
    border:1px solid lightgray;
}
.plumbing:hover{
    background: orange;
}
.plumbing img{
    width:100px;
    height:90px;
    background: transparent;
}
.plumbing h5{
    margin-top: 10px;
}
/* ourclientsay */
.ourclientsayh4 h4{
    margin-top: 70px;
    text-align:center;
    font-size:33px;
    font-weight:700;
}
.ourclientsay{
    margin-top: 100px;
}
/* client1 */
.client1{

    width:85%;
    height:90%;
    background: white;
    box-shadow:0 8px 32px 0 rgba(31,38,135,.38);
    margin-left: 90px;
    text-align:center;
 
}
.client1para p{
    margin-top:80px;
    font-size:16px;
}
.client1 img{
    border-radius: 50%;
    margin-top: 30px;
    margin-left: -300px;


}
.client1name h5{
    margin-top: -80px;
    margin-right: 60px;
    font-size:17px;
}

/* client2 */
.client2{
    width:88%;
    height:100%;
  
    margin-left: 10px;
    background: white;
    box-shadow:0 8px 32px 0 rgba(31,38,135,.38);
    text-align:center;
    padding:20px;
}
.client2 img{
    margin-right: 310px;
    width:120px;
}
.client2para p{
    margin-top: 70px;
    font-size:16px;
}
.client2name h5{
    margin-top: -70px;
    margin-right: 90px;
    font-size:17px;
}
/* logos */
/* leftarrow */
.logos{
    margin-top: 50px;
}
.leftarrow{
    background: blue;
    width:50px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.leftarrow i{
    font-size:2rem;
    color:white;

   
}
/* .rightarrow */
.rightarrow{
    background: blue;
    width:50px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
  
}
.rightarrow i{
    font-size:2rem;
    color:white;

   
}
/* .contact-us */
.contact-us{

}
.contactush2 h2{
    font-size:35px;
    font-weight: 650;
    margin-top: 100px;
    margin-left: 200px;
}
.contactusinput 
{
    margin-top: 55px;
}
.contactusinput input{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 200px;
    width:75%;
    height:7vh;
    padding:20px;
    border:none;
    outline:none;
    border:0.25px solid lightgrey;
    box-shadow:0 8px 32px 0 rgba(125, 131, 211, 0.38);
  
}
.contactusinput textarea{
    margin-left: 200px;
    margin-top: 20px;
    padding:20px;
    border:none;
    outline:none;
    border:0.25px solid lightgrey;
    box-shadow:0 8px 32px 0 rgba(125, 131, 211, 0.38);
    width:75%;
}
/* contactus-button */
.contactus-button{
    color:white;
    background: blue;
    width:150px;
    height:45px;
    margin-left: 200px;
    margin-top: 30px;
    text-align:center;
}
.contactus-button button{
    color:white;
    background: transparent;
    text-align:center;
    padding-top: 10px;
    font-size:18PX;
    font-weight: 400;
}
/* getintouch */
.getintouch{
    margin-top: 100px;
    background: rgb(8, 8, 50);
    width:100%;
    height:65vh;
    color:white;
}

.getintouchh3 h3{
    text-align:center;
    padding-top: 70px;
}
.location {
    margin-left: 300px;
}
.location i{
    background: blue;
    width:75px;
    height:75px;
    border-radius:100%;
    margin-top: 40px;
    margin-left: 100px;
    font-size:1.3rem;  
    text-align:center;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    opacity: .8;
}
.location p{
    margin-top: 30px;
    margin-left: 40px;
}
/* .phone */

.phone i{
    background: blue;
    width:75px;
    height:75px;
    border-radius:100%;
    margin-top: 40px;
    margin-left: 210px;
    font-size:1.3rem;  
    text-align:center;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    opacity: .8;
}
.phone p{
    margin-top: 30px;
    margin-left: 180px;
}
/* email */
.email i{
    background: blue;
    width:75px;
    height:75px;
    border-radius:100%;
    margin-top: 40px;
    font-size:1.3rem;  
    text-align:center;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    opacity: .8;
}
.email p{
    margin-top: 30px;
    margin-left: -40px;

}
.getintouchhr hr{
    color:white;
    border:2px solid white;
    background: transparent;
    width:73%;
    margin-top: 70px;
    margin-left: 200px;

}
.getintouchrights p{
    text-align: center;
    padding-top: 10px;
}